@model PaginatedList<LibraryManagementSystem.Models.UserDetail>
    @using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var email = HttpContextAccessor.HttpContext.Session.GetString("EmailID");
}
@{
    ViewData["Title"] = "Index";
}
    <div style="border:1px solid black;box-shadow:13px 9px 32px 2px blanchedalmond;padding:10px;">

        <a asp-action="Create" class="btn btn-primary btn-block">Create New</a>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p style="margin-top:20px">
                    <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-outline-success btn-sm" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>

        @if (Model == null)
        {
            <h1 style="color:red;text-align:center">No data Found</h1>

        }
        else
        {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>RegisterNo.</th>
                        <th>Profile</th>
                        <th>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> <span class="glyphicon glyphicon-sort"> Name</span>  </a>

                        </th>
                        <th>EmailID</th>
                        <th>Password</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>PhoneNumber</th>
                        <th>SendMail</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RegisterNo</td>
                            <td><img src="~/images/@item.ProfilePicture" style="height:70px;width:70px;" /></td>
                            <td>@item.Name</td>
                            <td>@item.EmailID</td>
                            <td>@item.Password</td>
                            <td>@item.Gender</td>
                            <td>@item.Age</td>
                            <td>@item.Address</td>
                            <td>@item.PhoneNumber</td>
                            <td><a asp-area="" asp-controller="SendMail" asp-action="Index" class="btn btn-warning" asp-route-id="@item.ID">SendMail</a></td>
                            <td><a asp-action="Edit" class="btn btn-danger" asp-route-id="@item.ID">Edit</a></td>
                            <td><a asp-action="Delete"class="btn btn-outline-success btn-sm" asp-route-id="@item.ID">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>    
        }
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>

            
         
