@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model LibraryManagementSystem.Models.UserDetail

@{
    var email = HttpContextAccessor.HttpContext.Session.GetString("EmailID");
}




@{


    ViewData["Title"] = "Details";


}


<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light  ">
            <div class="container-fluid">
                <img src="https://th.bing.com/th/id/OIP.c7gLBJpEuUBJ0qsmkcCQgwAAAA?pid=ImgDet&rs=1" style="height:60px;width:140px"  alt="LOGO">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse  justify-content-between">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><b>Home</b></a>
                        </li></ul>
                          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ">
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="MainIndex"><b>Books</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserDetail" asp-action="Index"><b>User</b></a>
                        </li>
                        <a class="greeting nav-link text-dark" style="color: rgb(187, 26, 26);">  Welcome  @HttpContextAccessor.HttpContext.Session.GetString("EmailID")</a>
                    </ul>
                </div>
                         
                        </div>
                  
            </div>
        </nav>
    </header>
<h1>Details</h1>

<div>

 

    <hr />

    <dl class="row" style="border:1px solid black;box-shadow:20px 20px 50px 20px;padding:35px">
<dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.ProfilePicture)

        </dt>

        <dd class = "col-sm-15">

         

            <img src="~/images/@Model.ProfilePicture" style="height:100px;width:100px"/>

        </dd>
        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.RegisterNo)

        </dt>

        <dd class = "col-sm-15">

            @Html.DisplayFor(model => model.RegisterNo)

        </dd>

        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.Name)

        </dt>

        <dd class = "col-sm-15">

            @Html.DisplayFor(model => model.Name)

        </dd>

        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.EmailID)

        </dt>

        <dd class = "col-sm-15">

            @Html.DisplayFor(model => model.EmailID)

        </dd>
        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.Password)

        </dt>

        <dd class = "col-sm-15">

            @Html.DisplayFor(model => model.Password)

        </dd>
        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.Gender)

        </dt>

        <dd class = "col-sm-15">

            @Html.DisplayFor(model => model.Gender)

        </dd>
        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.Age)

        </dt>

        <dd class = "col-sm-15">

            @Html.DisplayFor(model => model.Age)

        </dd>
        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.Address)

        </dt>

        <dd class = "col-sm-15">

            @Html.DisplayFor(model => model.Address)

        </dd>
        <dt class = "col-sm-2">

            @Html.DisplayNameFor(model => model.PhoneNumber)

        </dt>

        <dd class = "col-sm-15">

            @Html.DisplayFor(model => model.PhoneNumber)

        </dd>
        

    </dl>

</div>

<div>

    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>

    |

    <a asp-action="Index">Back to List</a>

</div>